<?xml version="1.0" ?>
<robot name="bot_4wd" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--xacro:include filename="$(find bot_4wd)/urdf/common_properties.xacro"/>
  <xacro:include filename="$(find bot_4wd)/urdf/bot_4wd.gazebo"/>
    <xacro:include filename="$(find bot_4wd)/urdf/macro.xacro" /-->


  <link name="base_footprint">
    
  </link>
<!-- Base_frame-->
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/base_frame.dae" scale="1 1 1"/>
      </geometry>
      <material name="light_black"/>
    </visual>

    <collision>
      <origin xyz="-0.0 0 0.00" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/base_frame.dae" scale="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="8.2573504e-01"/>
      <inertia ixx="2.2124416e-03" ixy="-1.2294101e-05" ixz="3.4938785e-05"
               iyy="2.1193702e-03" iyz="-5.0120904e-06"
               izz="2.0064271e-03" />
    </inertial>
  </link>



  <joint name="forward_left_knuckle_joint" type="fixed">
    <parent link="base_link"/>
    <child link="forward_left_knuckle_link"/>
    <origin xyz="0.0360 -0.036 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="forward_left_knuckle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>



  <joint name="forward_right_knuckle_joint" type="fixed">
    <parent link="base_link"/>
    <child link="forward_right_knuckle_link"/>
    <origin xyz="80.1e-02 -0.036 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="forward_right_knuckle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>




  <joint name="backward_left_knuckle_joint" type="fixed">
    <parent link="base_link"/>
    <child link="backward_left_knuckle_link"/>
    <origin xyz="0.036 -0.8585 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="backward_left_knuckle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>



  <joint name="backward_right_knuckle_joint" type="fixed">
    <parent link="base_link"/>
    <child link="backward_right_knuckle_link"/>
    <origin xyz="80.1e-02 -0.8585 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="backward_right_knuckle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/knuckle.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>



<!-- Wheel-->

  <joint name="forward_left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="forward_left_wheel_link"/>
    <origin xyz="0.0360 -0.050 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="forward_left_wheel_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>



  <joint name="forward_right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="forward_right_wheel_link"/>
    <origin xyz="80.1e-02 -0.050 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="forward_right_wheel_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>




  <joint name="backward_left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="backward_left_wheel_link"/>
    <origin xyz="0.036 -0.8525 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="backward_left_wheel_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>



  <joint name="backward_right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="backward_right_wheel_link"/>
    <origin xyz="80.1e-02 -0.8725 0.041" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="backward_right_wheel_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="$(find bot_4wd)/urdf/meshes/wheel.dae" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
      </inertial>
  </link>






</robot>
